myenv/
old/
venv_eagle_class/
Data/
Data_augmented/
*__pycache__/
ChannelViT_n/
ChannelViT_n2/
ChannelViT-main/
ChannelViT/__pycache__/
requirements.txt
normalized_images/
*.log
*.jpg
*.png
*.jpeg
*.log
results_*/
logs/
predictions/
working*/
saved*/
multimodal_output/